{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="scroll-dynamic">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form method="post" id="form">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="card-content collapse show">
                                        <div class="card-body card-dashboard">
                                            <p class="card-text">{{ title }}</p>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered dynamic-height">
                                                    {% csrf_token %}
                                                    {{ form }}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <input class="btn btn-dark btn-min-width mr-1 mb-1 float-left btn-margin"
                                           type="submit" value="Save" style="margin-left: 2%">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
