{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Appointments List</h4>
                            <a href="{% url 'core:addappointment' %}" class="btn btn-info float-right">Add Appointment</a>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                            <th>Update</th>
                                            <th>Delete</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in obj %}
                                        <tr>
                                            <td>{{ obj.Time }}</td>
                                            <td>{{ obj.Doctor }}</td>
                                            <td>{{ obj.Patient }}</td>
                                            <td><a href="{% url 'core:updateappointment' obj.pk %}">Update</a> </td>
                                            <td><a href="{% url 'core:deleteappointment' obj.pk %}">Delete</a> </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
