{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Doctors List</h4>
                            <a href="{% url 'core:adddoctor' %}" class="btn btn-info float-right">Add Doctor</a>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in obj %}
                                        <tr>
                                            <td>{{ obj.FirstName }}</td>
                                            <td>{{ obj.LastName }}</td>
                                            <td>{{ obj.PhoneNumber }}</td>
                                            <td>{{ obj.Address }}</td>
                                            <td><a href="{% url 'core:updatedoctor' obj.pk %}">Update</a> </td>
                                            <td><a href="{% url 'core:deletedoctor' obj.pk %}">Delete</a> </td>

                                        </tr>
                                        {% endfor %}


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
