{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content" style="margin: 10%">
        <div class="content-wrapper">

            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:doctorslist' %}"><h4 class="font-large-1 text-bold-400">
                                        Doctors <i class="ft-user float-right"></i>
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:patientslist' %}"><h4 class="font-large-1 text-bold-400"><i
                                            class="ft-thermometer float-right"></i> Patients
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:nurseslist' %}"><h4 class="font-large-1 text-bold-400"><i
                                            class="ft-user-plus float-right"></i> Nurses
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:appointmentslist' %}"><h4 class="font-large-1 text-bold-400">
                                        <i class="ft-clock float-right"></i> Appointments
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:medicineslist' %}"><h4 class="font-large-1 text-bold-400"><i
                                            class="ft-droplet float-right"></i>
                                        Medication
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="card pull-up border-top-3 rounded-0">
                            <div class="card-content collapse show">
                                <div class="card-body p-1">
                                    <a href="{% url 'core:procedureslist' %}"><h4 class="font-large-1 text-bold-400"><i
                                            class="ft-clipboard float-right"></i>
                                        Procedures
                                    </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Content-->
        </div>
    </div>
{% endblock %}
