{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Medicines List</h4>
                            <a href="{% url 'core:addmedicine' %}" class="btn btn-info float-right">Add Medicine</a>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Brand</th>
                                            <th>Description</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in obj %}
                                        <tr>
                                            <td>{{ obj.Code }}</td>
                                            <td>{{ obj.Name}}</td>
                                            <td>{{ obj.Brand }}</td>
                                            <td>{{ obj.Description }}</td>
                                            <td><a href="{% url 'core:updatemedicine' obj.pk %}">Update</a> </td>
                                            <td><a href="{% url 'core:deletemedicine' obj.pk %}">Delete</a> </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
