{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ patient.FirstName }} {{ patient.LastName }}</h4>


                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>NHS Number</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ patient.FirstName }}</td>
                                            <td>{{ patient.LastName }}</td>
                                            <td>{{ patient.NHSNumber }}</td>
                                            <td>{{ patient.PhoneNumber }}</td>
                                            <td>{{ patient.Address }}</td>
                                            <td><a href="{% url 'core:updatepatient' patient.pk %}">Update</a> </td>
                                            <td><a href="{% url 'core:deletepatient' patient.pk %}">Delete</a> </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{ patient.FirstName }} {{ patient.LastName }}'s
                                    prescriptions</h4>
                                <a href="{% url 'core:addprescription' %}" class="btn btn-info float-right">Add Prescription</a>
                            </div>
                        {% if prescription %}
                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>Doctor</th>
                                                <th>Patient</th>
                                                <th>Appointment</th>
                                                <th>Medicine</th>
                                                <th>Date</th>
                                                <th>Dose</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for prescription in prescription %}
                                                <tr>
                                                    <td>{{ prescription.Doctor }}</td>
                                                    <td>{{ prescription.Patient }}</td>
                                                    <td>{{ prescription.Appointment }}</td>
                                                    <td>{{ prescription.Medicine }}</td>
                                                    <td>{{ prescription.Date }}</td>
                                                    <td>{{ prescription.Dose }}</td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{{ patient.FirstName }} {{ patient.LastName }}'s Doctor
                                    notes</h4>
                                <a href="{% url 'core:addnote' %}" class="btn btn-info float-right">Add Note</a>


                            </div>
                        {% if note %}
                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                            <tr>
                                                <th>Doctor</th>
                                                <th>Patient</th>
                                                <th>Note</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for note in note %}
                                                <tr>
                                                    <td>{{ note.Doctor }}</td>
                                                    <td>{{ note.Patient }}</td>
                                                    <td>{{ note.Note }}</td>
                                                    <td><a href="{% url 'core:updatenote' note.pk %}">Update</a> </td>
                                                    <td><a href="{% url 'core:deletenote' note.pk %}">Delete</a> </td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

        </section>
    </div>

{% endblock %}
