{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-body" style="margin: 5%">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Procedures List</h4>
                            <a href="{% url 'core:addprocedure' %}" class="btn btn-info float-right">Add Procedure</a>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Doctor</th>
                                            <th>Nurse</th>
                                            <th>Patient</th>
                                            <th>Date</th>
                                            <th>Procedure ID</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in obj %}
                                        <tr>
                                            <td>{{ obj.Name }}</td>
                                            <td>{{ obj.Doctor}}</td>
                                            <td>{{ obj.Nurse }}</td>
                                            <td>{{ obj.Patient }}</td>
                                            <td>{{ obj.Date }}</td>
                                            <td>{{ obj.ProcedureID }}</td>
                                            <td><a href="{% url 'core:updateprocedure' obj.pk %}">Update</a> </td>
                                            <td><a href="{% url 'core:deleteprocedure' obj.pk %}">Delete</a> </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
